@import '../utils/variables';
@import '../utils/templates';

.footer{
    background-color: #2F303A;

    &__section{
        padding: 2% 2%;
        /*Ubicacion flex*/
        @extend .justify__between;
        justify-content: space-evenly;
        // align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    &__address{
        list-style-type: none;
        font-Weight: 400;
        font-size: 14px;
        padding: 0%;
        text-decoration:none;
        color: $--white-color;

        &--info{
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &__networks{
        @extend .justify__between;
        fill: $--white-color;
        justify-content: center;
    }
    &__title{
        color: $--white-color;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-top: 22px;
    }
    &__base{
        border-radius: 50%;
        background-color:  rgba(255, 255, 255, 0.1);
        margin: 0px 1%;

        &:hover{
            background-color: $--blue-color;
        }
    }
    // entrada del formulario
    &__input{
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }
}

/*Formulario del pie de pagina*/

.suscrption_email{
    @include select_measures(100%,50px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    padding-left: 5%;
    color: $--white-color;
}

@media screen and (min-width:480px) {
    .footer{
        &__address, &__networks--box{
            @include select_measures(50%, none);
        }
    }
}

@media screen and(min-width:1200px) {
    .footer{
        &__section{
            justify-content: space-between;
        }
        &__address, &__networks--box{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        &__form{
            text-align: start;
        }
        &__input{
            @include select_measures(400px, none);
            justify-content: start;
        }
        
    }
    .footer__address, .footer__networks--box, .footer__networks--box{
        width: auto;
    }
    
    .suscrption_email{
        @include select_measures(55%, none);
        
    }
}